.avio .body-header {
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    height: 70px;
    transition: height .3s;
    z-index: 1021;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}
.avio .body-header .menu-link {
    display: flex;
    align-items: center;
}

.flex-fill {
    flex: 1 1 auto !important;
}
.avio .body-header .menu-link .dropdown {
    margin: 0 .3rem;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
}
.avio .body-header .menu-link .btn-link {
    color: var(--color-800);
    text-decoration: none;
    display: flex;
    align-items: center;
    line-height: 17px;
}

.btn {
    font-size: 14px;
}

.dropdown-toggle {
    white-space: nowrap;
}